.text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.6;
  margin: 10px 0;
  padding: 10px 15px;
  color: transparent;
  background: linear-gradient(
    90deg,
    #00e0ff,
    #9effff,
    #00c6ff,
    #c3fdff,
    #00e0ff
  );
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-animation 5s linear infinite;
  border-radius: 8px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
